# Python
__pycache__/
*.pyc
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz

# OS
.DS_Store

# Results
results/*.png
results/*.pdf
!results/day4_shift_summary.png
!results/day4_uncertainty_breakdown.png
